{{#dependencies}}
{{#.}}
import { {{ . }} } from '../models';
{{/.}}
{{/dependencies}}

export interface {{name}} {
    {{#tsType}}
    {{#properties}}
    {{#isRef}}
    {{name}}{{^isRequired}}?{{/isRequired}}: {{target}};
    {{/isRef}}
    {{#isAtomic}}
    {{name}}{{^isRequired}}?{{/isRequired}}: {{{tsType}}};
    {{/isAtomic}}
    {{#isArray}}
    {{name}}{{^isRequired}}?{{/isRequired}}: {{#elementType}}{{tsType}}{{target}}{{/elementType}};
    {{/isArray}}
    {{/properties}}
    {{/tsType}}
}
